In [7]:
###################################################
# Пример работы с данными генома (формат TSV)
###################################################


###################################################
# Описание данных в датасете
#
# В данном проекте мы поработаем с довольно 
# нетипичными для аналитика данными: gff файлом, 
# который описывает геном мухи (описание формата 
# можно найти здесь: http://gmod.org/wiki/GFF3 ). 
###################################################

In [8]:
# Импортируем библиотеки

import pandas as pd

In [9]:
# Чтение файла TSV с данными 

df = pd.read_csv('gff.tsv', sep='\t')
df.head()

,seq_id,source,type,start,end,score,strand,phase,attributes
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
2,chr17,RefSeq,CDS,6811792,6811869,.,+,2,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...
3,chr17,RefSeq,exon,6806513,6806553,.,+,.,Parent=XM_001475631.1
4,chr17,RefSeq,five_prime_UTR,6806513,6806526,.,+,.,Parent=XM_001475631.1

In [10]:
# Определим какое значение атрибута 'Parent' самое частое

parent = df.attributes.str.extract(r'Parent=(?P<parent>[\w\.]+)')
parent

             parent
0    XM_001475631.1
1    XM_001475631.1
2    XM_001475631.1
3    XM_001475631.1
4    XM_001475631.1
..              ...
507  XM_001475631.1
508  XM_001475631.1
509  XM_001475631.1
510  XM_001475631.1
511  XM_001475631.1

[512 rows x 1 columns]

In [11]:
parent_value = parent.value_counts()
parent_value

parent
XM_001475631.1    479
NC_000083.5        33
dtype: int64

In [12]:
# Найдем самое частое значение в колонке 'type'

df.type.value_counts()

exon               201
CDS                170
five_prime_UTR      47
mRNA                33
three_prime_UTR     32
protein             29
Name: type, dtype: int64